
@import url(http://fonts.googleapis.com/css?family=Montserrat);
body {
background-color: #8CD9FF;
color:#fff;
font-family: 'Montserrat', sans-serif;
overflow:no;
}

      #wrapper {
 text-align:center;
height:50%;
}

h1 {
font-size:75pt;
}

#inner {
  margin-top:12.5%;
}
